--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.7.1+cu118
torchvision==0.15.2+cu118
torchaudio==2.1.1

matplotlib
seaborn
pandas
scikit-learn
open3d
plyfile
python-box
joblib
pyyaml
dvc
